In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [7]:
high_rated_reviews_df = vine_df[(vine_df['total_votes'] >= 20)]
high_rated_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [10]:
helpful_reviews_df = high_rated_reviews_df
helpful_reviews_df['review_rating'] = high_rated_reviews_df['helpful_votes']/high_rated_reviews_df['total_votes']
helpful_reviews_df.head()

<ipython-input-10-b06aa2090ad9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  helpful_reviews_df['review_rating'] = high_rated_reviews_df['helpful_votes']/high_rated_reviews_df['total_votes']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_rating
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,0.862069
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,1.000000
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,0.935484
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,0.962963
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,0.952381

In [11]:
good_helpful_reviews_df = helpful_reviews_df[(helpful_reviews_df['review_rating'] >= .5)]
good_helpful_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_rating
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,0.862069
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,1.000000
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,0.935484
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,0.962963
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,0.952381

In [12]:
paid_reviews_df = good_helpful_reviews_df[(good_helpful_reviews_df['vine'] == 'Y')]
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_rating
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N,1.000000
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N,0.928571
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N,0.963415
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N,0.600000
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N,0.864865
...,...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N,0.950000
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N,0.571429
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N,0.977778
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N,0.938776
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N,0.966102

In [13]:
unpaid_reviews_df = good_helpful_reviews_df[(good_helpful_reviews_df['vine'] == 'N')]
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_rating
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y,0.862069
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y,1.000000
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y,0.935484
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y,0.962963
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y,0.952381
...,...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N,0.964602
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N,0.971429
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N,0.988024
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N,0.937500
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N,0.903226

In [18]:
paid_reviews = paid_reviews_df['review_id'].count()
unpaid_reviews = unpaid_reviews_df['review_id'].count()
print(f"Paid Reviews: {paid_reviews}")
print(f"UnPaid Reviews: {unpaid_reviews}")

Paid Reviews: 107
UnPaid Reviews: 39869

In [26]:
paid_5_star = paid_reviews_df.loc[paid_reviews_df['star_rating'] == 5].count()
paid_5_star_count = paid_5_star['star_rating']
paid_5_star_count

56

In [28]:
unpaid_5_star = unpaid_reviews_df.loc[unpaid_reviews_df['star_rating'] == 5].count()
unpaid_5_star_count = unpaid_5_star['star_rating']
unpaid_5_star_count

21005

In [29]:
percent_paid_5_star = paid_5_star_count/paid_reviews
percent_unpaid_5_star = unpaid_5_star_count/unpaid_reviews
print(f"Paid Reviews 5-star %: {percent_paid_5_star}")
print(f"UnPaid Reviews 5-Star %: {percent_unpaid_5_star}")

Paid Reviews 5-star %: 0.5233644859813084
UnPaid Reviews 5-Star %: 0.5268504351751988